<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
</head>
<body>
    <div id="root">
        {{reverseMessage}}

        <h1>All tasks: </h1>
        <ul>
            <li v-for="task in tasks" v-text="task.description"></li>
        </ul>
        <h1>Incompleted tasks: </h1>
        <ul>
            <li v-for="task in incompletedTasks" v-text="task.description"></li>
        </ul>
    </div>
</body>
<script>
        var app = new Vue({
            el: '#root', 
            data: {
                message: 'some texts',
                tasks: [
                    {description: 'do sth 1', completed: true},
                    {description: 'do sth 2', completed: false},
                    {description: 'do sth 3', completed: true},
                    {description: 'do sth 4', completed: true},
                    {description: 'do sth 5', completed: false},
                    {description: 'do sth 6', completed: true},
                    {description: 'do sth 7', completed: true},
                    {description: 'do sth 8', completed: false},
                    {description: 'do sth 9', completed: true}
                ]
            },
            computed: {
                reverseMessage(){
                    return this.message.split('').reverse().join('')
                }, 
                incompletedTasks(){
                    return this.tasks.filter(task => ! task.completed)
                }
            }
        })
    </script>
</html>